<h2>Вызовы консультанта</h2>

<table class="table">
  <thead>
    <tr>
      <th>Клиент</th>
      <th>Телефон</th>
      <!--th>E-mail</th-->
      <th>Партнер</th>
      <th>Торговая точка</th>
      <th>Адрес</th>
      <th>Статус</th>
      <th>Действие</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="order in ordersCtrl.orders">
      <td>{{ order.client }}</td>
      <td>{{ order.contact.phone }}</td>
      <!--td>{{ order.contact.email }}</td-->
      <td>{{ order.partner.name }}</td>
      <td>{{ order.partner.tradepoint }}</td>
      <td>{{ order.partner.address }}</td>
      <td>{{ order.status }}</td>
      <td>
        <form ng-submit="ordersCtrl.Cancel(order._id)"/>
          <input ng-show="order.status!==""Отменён""" class="btn" type="submit" value="Отменить" />
        </form>
      </td>
    </tr>
  </tbody>
</table>

<p> <a ui-sref="partners">страничка Партнёра</a> </p>
<p> <a ui-sref="consultant">страничка Консультанта</a> </p>
