<h2>Вызовы консультанта</h2>

<table class="table">
  <thead>
    <tr>
      <th>Клиент</th>
      <th>Телефон</th>
      <!--th>E-mail</th-->
      <th>Партнер</th>
      <th>Торговая точка</th>
      <th>Адрес</th>
      <th>Статус</th>
    </tr>
  </thead>
  <tbody>
    <div ng-repeat="order in ordersCtrl.orders">
      <tr>
        <td>{{ order.client }}</td>
        <td>{{ order.contact.phone }}</td>
        <!--td>{{ order.contact.email }}</td-->
        <td>{{ order.partner.name }}</td>
        <td>{{ order.partner.tradepoint }}</td>
        <td>{{ order.partner.address }}</td>
        <td>{{ order.status }}</td>
        <td> <a class="btn" href="#">Hz</a></td>
      </tr>
      <tr ng-show="order.status === 'InQueue'">
        <td>
          XXX
        </td>
      </tr>
    </div>
  </tbody>
</table>

<p> <a ui-sref="partners">страничка Партнёра</a> </p>
<p> <a ui-sref="consultant">страничка Консультанта</a> </p>
