<h2>Orders</h2>

<table>
  <thead>
    <tr>
      <th>Клиент</th>
      <th>Телефон</th>
      <th>E-mail</th>
      <th>Партнер</th>
      <th>Торговая точка</th>
      <th>Адрес</th>
      <th>Статус</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="order in ordersCtrl.orders">
      <td>{{ order.client }}</td>
      <td>{{ order.contact.phone }}</td>
      <td>{{ order.contact.email }}</td>
      <td>{{ order.partner.name }}</td>
      <td>{{ order.partner.tradepoint }}</td>
      <td>{{ order.partner.address }}</td>
      <td>{{ order.status }}</td>
    </tr>
  </tbody>
</table>

<!--p> <a ui-sref="tradepoints">List of tradepoints</a> </p-->
