<h2>Partner</h2>

<table>
  <tbody>
    <tr>
      <td>Партнёр:</td>
      <td>{{ sellersCtrl.seller.name }}</td>
    </tr>
    <tr>
      <td>E-mail:</td>
      <td>{{ sellersCtrl.seller.email }}</td>
    </tr>
    <tr>
      <td>Торговая точка:</td>
      <td>{{ sellersCtrl.seller.tradepoint }}</td>
    </tr>
    <tr>
      <td>Адрес:</td>
      <td>{{ sellersCtrl.seller.address }}</td>
    </tr>
  </tbody>
</table>

<!--p> <a ui-sref="tradepoints">list of tradepoints</a> </p-->

<p> <a ui-sref="partners.neworder">Create Order</a> </p>

<div ui-view></div>
